@import url('../../../common/less/page-sub-header.less');
@import url('../../../common/less/form-component.less');
@import url('../../../common/less/custom-component.less');

.ant-modal-title{
    color:#212B36 !important;
    font-size: 0.87rem !important;
    font-weight: 600 !important;
    text-align: center !important;
}